@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --purple500: #45267d;
  --purple300: #270082;
  --purple600: #1b0058;
  --red600: #dc0000;
  --body: #f9f6ff;
  --max-width: 1200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}

section {
  scroll-margin: 50px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: var(--purple300);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px 0;
}
.logo {
  font-size: 32px;
  font-weight: 600;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
button:hover {
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}
nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in;
}
nav ul li:hover {
  border-bottom: 2px solid white;
  transition: 0.2s ease-in;
}
.home-section {
  background-image: url(images/backgroundmain3.jpg);
  background-size: cover;
  background-position: absolute; 
  height: 100vh;
  display: grid;
  color: white;
  place-items: center;
  text-align: center;
}

.home-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.home-section h1 {
  font-size: 96px;
}
.home-section h3 {
  font-size: 32px;
}

.music-section {
  padding: 20px;
  margin: 20px;
  position: relative;
  background: var(--purple500);
}
.music-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  color: white;
}
#more-text img {
  object-fit: cover;
  width: 500px;
  height: 500px;
  padding: 20px;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
  flex-wrap: wrap;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-item {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.carousel-item img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}
.carousel-item:hover {
  transform: scale(1.1);
}

.ipad-iphone-img img {
  transition: transform 0.3s ease-in-out;
}

.ipad-iphone-img img:hover {
  transform: scale(1.1);
}
.primary-btn {
  background-color: var(--red600);
  color: white;
}
.secondary-btn {
  background-color: var(--red600);
  color: white;
}

.about-music {
  padding-top: 40px;
  display: grid;
  place-items: center;
  gap: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.video-section {
  background-image: url(images/video.png);
  min-height: 800px;
  display: grid;
  place-items: center;
  color: white;
  text-align: center;
}
.video-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -200px;
}
.hero-section,
.video-section {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--red600);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button + button {
  margin-left: 10px;
}

.button-container button:hover {
  background-color: rgb(223, 90, 90);
}


.gift-section {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  gap: 50px;
}

.gift-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gift-card img {
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
 
}

.popup-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 50;
  max-width: 400px;
  position: relative;
  border:10px solid #592ca0;
  border-radius: 5px;
}

label{
width: fit-content;
color: black;
font-weight: 400;
}
.formlogin{
  width: 150px;
  height: 20px;
}
.formsubmit{
background-color: #ce0f0f;
font-size: 1rem;
color: white;
width: 50px;
border-radius: 3px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer-upper {
  background-color: var(--purple600);
  padding: 20px;
}
.footer-upper .container {
  display: flex;
  color: white;
  justify-content: space-between;
}

.footer-upper h4 {
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}
.footer-lower {
  background-color: var(--purple300);
  padding: 20px;
  display: flex;
  justify-content: center;
  color: white;
}

.gift-section {
  scroll-margin: 120px;
}
.login-popup {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}
.login-popup-container {
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}
.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.login-popup-title img {
  width: 16px;
  cursor: pointer;
}
.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}
.login-popup-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: #592ca0;
  font-size: 15px;
  cursor: pointer;
}
.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}

.login-popup-condition input {
  margin-top: 5px;
}

.login-popup p span {
  color: #592ca0;
  font-weight: 500;
  cursor: pointer;
}
.login-text {
  color: rgb(229, 15, 15);
}

#switchLoginBtn {
  color: blue;
  cursor: pointer;
}

.socialIcons {
  display: flex;
  align-items: center;

}

.socialIcon {
  margin-right: 10px;
}

.socialIcon img {
  width: 50px;
  height: 50px;
  color: white;

}

.merchandise-section {
  padding: 40px 10;
}

.disclaimer-box {
  background-color: #ffeb3b;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.disclaimer-box:hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.disclaimer-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease;
  z-index: 1;
}

.disclaimer-box:hover:before {
  left: 100%;
}

.disclaimer-box p {
  margin: 0;
  font-size: 16px;
  color: #333;
  position: relative;
  z-index: 2;
}
